
$purple = #351C75
$light_purple = #492F8D

*
    -webkit-text-size-adjust: none

@font-face
    font-family: Consolas
    src: url('../fonts/Inconsolata-Regular.ttf')

@font-face
    font-family: Raleway
    src: url('../fonts/Raleway-Regular.ttf')


html,
body
    padding: 0
    margin: 0
    font-family: Consolas 
    background-image: url('../images/background.png')

#sidebar 
    border-radius: 2px
    background-color: $purple
    color: white 
    -webkit-box-shadow: 0px 10px 5px -2px #888
    box-shadow: 0px 10px 5px -2px #888
    h1:hover
        cursor: pointer
    img
        border: 3px solid white
        border-radius: 100px 
        width: 200px
        height: 200px
        display: block
        margin: auto
    h3
        padding: 10px
    h3:hover
        background-color: $light_purple
        cursor: pointer
        border-radius: 20px
    h3.active_cat
        background-color: $light_purple
    h3.active_cat:hover
        border-radius: 0px

#content
    h1
        font-family: Consolas
        font-weight: bold 
    p
        font-family: Raleway
        font-size: 20px
    #article_footer
        position: absolute
        bottom: 0
        right: 0

.article_list
    cursor: pointer
    background-color: rgba(0,0,0,0.1)
    padding-left: 10px
    padding-right: 10px
    padding-top: -10px
    padding-bottom: -10px
 
// MEDIA QUERIES

@media (min-width: 320px)
    
    pre
        margin-left: 2%
        margin-right: 2% 

    #list_label
        padding: 10px

    #content
        padding-bottom: 50px
        padding-top: 20px
        p
            margin-left: 20px
            margin-right: 20px

@media (min-width: 480px)
    #content
        padding-bottom: 50px
        padding-top: 20px
        p
            margin-left: 20px
            margin-right: 20px

@media (min-width: 600px) 
    pre
        margin-left: 8%
        margin-right: 8% 
    
    #content
        padding-bottom: 70px
        padding-top: 30px
        h3
            margin-top: 30px
        p
            margin-left: 50px 
            margin-right: 50px

@media (min-width: 768px) 
    #content
        padding-bottom: 70px
        padding-top: 30px
        h3
            margin-top: 30px
        p
            margin-left: 50px
            margin-right: 50px

@media (min-width: 900px)
    
    #sidebar
        top: 0
        bottom: 0
        left: 0
        height: 100%
        position: fixed
        z-index: 1000 
        -webkit-box-shadow: 10px 0px 5px -2px #888
        box-shadow: 10px 0px 5px -2px #888

    #list_label
        padding-bottom: 30px

    #content 
        left: 25%
        padding-left: 50px
        padding-right: 50px
        padding-bottom: 100px
        padding-top: 50px
        h3
            margin-top: 50px
        p:nth-of-type(1)
            margin-top: 30px
        p
            margin-left: 70px
            margin-right: 70px

@media (min-width: 1200px) 
    #sidebar
        top: 0
        bottom: 0
        left: 0
        height: 100%
        position: fixed
        z-index: 1000 
        -webkit-box-shadow: 10px 0px 5px -2px #888
        box-shadow: 10px 0px 5px -2px #888

    #content 
        left: 25%
        padding-left: 50px
        padding-right: 50px
        padding-bottom: 100px
        padding-top: 50px
        h3
            margin-top: 50px
        p:nth-of-type(1)
            margin-top: 30px
        p
            margin-left: 70px
            margin-right: 20px 

