{% load compile_static %}
{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <title>Jacob Adkins Homepage</title>
        <!-- FAVICONS -->
        <link rel="apple-touch-icon" sizes="57x57" href="{% static 'blog/favicons/apple-touch-icon-57x57.png' %}">
        <link rel="apple-touch-icon" sizes="60x60" href="{% static 'blog/favicons/apple-touch-icon-60x60.png' %}">
        <link rel="apple-touch-icon" sizes="72x72" href="{% static 'blog/favicons/apple-touch-icon-72x72.png' %}">
        <link rel="apple-touch-icon" sizes="76x76" href="{% static 'blog/favicons/apple-touch-icon-76x76.png' %}">
        <link rel="apple-touch-icon" sizes="114x114" href="{% static 'blog/favicons/apple-touch-icon-114x114.png' %}">
        <link rel="apple-touch-icon" sizes="120x120" href="{% static 'blog/favicons/apple-touch-icon-120x120.png' %}">
        <link rel="apple-touch-icon" sizes="144x144" href="{% static 'blog/favicons/apple-touch-icon-144x144.png' %}">
        <link rel="apple-touch-icon" sizes="152x152" href="{% static 'blog/favicons/apple-touch-icon-152x152.png' %}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'blog/favicons/apple-touch-icon-180x180.png' %}">
        <link rel="icon" type="image/png" href="{% static 'blog/favicons/favicon-32x32.png' %}" sizes="32x32">
        <link rel="icon" type="image/png" href="{% static 'blog/favicons/favicon-194x194.png' %}" sizes="194x194">
        <link rel="icon" type="image/png" href="{% static 'blog/favicons/favicon-96x96.png' %}" sizes="96x96">
        <link rel="icon" type="image/png" href="{% static 'blog/favicons/android-chrome-192x192.png' %}" sizes="192x192">
        <link rel="icon" type="image/png" href="{% static 'blog/favicons/favicon-16x16.png' %}" sizes="16x16">
        <link rel="manifest" href="{% static 'blog/favicons/manifest.json' %}">
        <link rel="mask-icon" href="{% static 'blog/favicons/safari-pinned-tab.svg' %}" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#ffc40d">
        <meta name="msapplication-TileImage" content="{% static 'blog/favicons/mstile-144x144.png' %}">
        <meta name="theme-color" content="#999999">
        <meta name=viewport content="width=device-width, initial-scale=1">
        <!-- JAVASCRIPT LIBRARIES -->
        <script type="text/javascript" src="{% static 'jquery/dist/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
        <!-- CSS LIBRARIES -->
        <link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'animate.css/animate.min.css' %}"> 
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/dist/css/bootstrap-theme.min.css' %}"></script> 
        <!-- LOCAL COFFEESCRIPT -->
        <script type="text/javascript" src="{% static "blog/coffeescript/index.coffee"|compile %}"></script>
        <!-- LOCAL STYLUS -->
        <link rel="stylesheet" type="text/css" href="{% static "blog/stylus/style.styl"|compile %}">
    </head>
    <body> 
        {% block content %}{% endblock content %}
    </body>
</html>
