{% extends 'blog/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
        
            <div class="col-md-3" id="sidebar"> 
                <br><br>
                <img class="animated fadeIn" src="{% static 'blog/images/jacob.svg' %}" id="jacob"> 
                <br>
                <h1 class="text-center animated fadeIn" href="{% url 'blog:index' %}">Jacob Adkins' Blog</h1>
                <hr class="animated fadeInLeft">
                {% for cat in categories %}
                <h3 class="text-center animated fadeIn" href="{% url 'blog:category' cat.slug %}">{{ cat }}</h3>
                {% endfor %}
                <br>
            </div>

            <div class="col-md-9 offset-md-3 animated fadeIn" id="content"> 
                <h1 id="list_label" class="text-center">Recent Articles</h1> 
                {% for article in articles %}
                <div class="article_list" href="{% url 'blog:article' article.category.slug article.slug %}">
                    <hr> 
                    <h1>{{ article.title }}</h1>
                    <span>{{ article.pub_date }}</span>
                    <hr>
                </div>
                {% endfor %} 
            </div>
        
        </div>
    </div>
{% endblock content %}
